.accessCode {
	text-align: right;

	input {
		width: 150px;
	}
}

.buttons {
	margin-top: 15px;
	text-align: right;
}

.center {
	text-align: center;
}

.link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline;
}

.modal {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100vh;
	position: fixed;
	width: 100vw;
	z-index: $z-modal;

	.wrapper1 {
		left: 50%;
		max-height: calc(100vh - 10px);
		max-width: calc(100vw - 10px);
		margin: auto;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);

		.wrapper2 {
			background-color: rgba(255, 255, 255, 1);
			border-radius: 10px;
			height: 100%;
			padding: 3px;
			width: 100%;

			.content {
				margin: auto 0;
				max-height: calc(100vh - 20px);
				overflow-y: auto;
				padding: 10px 20px;
			}
		}
	}
}

.padding {
	padding: 10px;
}

.react-tooltip {
	a {
		color: $cWhite;
	}
}

.react-snackbar-alert__snackbar-container-enter-done {
	button {
		color: $cWhite;
	}
}

.right {
	text-align: right;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#_404 {
	padding: 20px;
}

#errors {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;

	.error {
		background-color: $cError;
		border-radius: 10px;
		box-shadow: 5px 5px 8px #868686;
		color: $cWhite;
		margin: 10px;
		padding: 10px;

		p {
			font-weight: bold;
		}
	}
}

#footer {
	text-align: center;
	padding: 10px;
	background-color: $cBlue;

	p {
		font-size: smaller;
		color: $cWhite;
	}
}

#loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $cBlue;
	width: 100%;
	height: 100%;
	p {
		margin-top: 10px;
	}
}

#signature {

	.clear {
		border-top: 1px solid lightgray;
		color: gray;
		padding-top: 3px;

		span {
			cursor: pointer;
		}
	}
}

#splash {
	background-image: url('https://orthoinfo.s3.us-east-1.amazonaws.com/www/splash.png');
	background-position: center;
	background-repeat: no-repeat;
}

.signin {
	p {
		color: $cBlue;
		padding: 5px 0px;
	}

	p.error {
		color: #d93644;
	}

	.sign-up {
		align-items: center;
	}

	input {
		width: 100%;
		box-shadow: #00000012 1px 0px 12px 5px;
		outline: none;
		padding: 6px 12px;
		font-size: 16px;
		line-height: 1.5;
		color: #495057;
		background-color: $cWhite;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		margin-top: 5px;
	}
}

@media only screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media only screen and (max-width: 992px) {
	#myAccount {

		.section {

			.title {
				font-size: 18px;
			}
		}
	}
}