.black { color: $cBlack !important; }
.black_bg { background-color: $cBlack !important; }

.white { color: $cWhite !important; }
.white_bg { background-color: $cWhite !important; }

.blue { color: $cBlue !important; }
.blue_bg { background-color: $cBlue !important; }

.lightBlue_bg {background-color: $cLightBlue !important; }

.error { color: $cError !important; }
.error_bg { background-color: $cError !important; }

.alert { color: $cAlert !important; }
.alert_bg { background-color: $cAlert !important; }

.warning { color: $cWarning !important; }
.warning_bg { background-color: $cWarning !important; }

.agreed { color: $cAgreed !important; }
.agreed_bg { background-color: $cAgreed !important; }

.notification { color: $cNotification !important; }
.notification_bg { background-color: $cNotification !important; }
