.flexColumns {
	display: flex;
	flex-direction: row;
}

.flexRows {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;	
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexColumns, .flexRows {

	.flexDynamic {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.flexStatic {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.flexRows > .flexDynamic {
	height: 100%;
	overflow: auto;
}