/* colors */
$cBlack: #000000;
$cWhite: #ffffff;
$cBlue: #0337A1;
$cLightBlue: #f3ffff;

$cError: #d93644;
$cAlert: #ff6f26;
$cWarning: #ffc926;
$cAgreed: #39a85e;
$cNotification: #36a3d9;

/* z-indexes */
$z-base: 0;
$z-share-consultation: 1;
$z-search: 2;
$z-modal: 9;
$z-header: 10;
$z-testing: 11;