#about {
	h1 {
		color: $cWhite;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 20px;
		background-image: url("https://orthoinfo.s3.us-east-1.amazonaws.com/www/header_background.png");
		background-position: center;
		height: 62px;
	}

	.about-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px;
		gap: 40px;

		.about-section {
			display: flex;
			flex-direction: row;
			gap: 20px;
			justify-content: space-between;


			.about-image,
			.about-text {
				width: 47%;
			}

			.about-image {

				img {
					background-size: contain;
					width: 100%;
				}

			}

			p {
				color: $cBlack;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 24px;
			}

		}
	}
}

@media only screen and (max-width: 768px) {
	#about {
		h1 {
			height: 42px;
		}

		.about-container {
			.about-section {
				flex-direction: column;

				.about-image,
				.about-text {
					width: 100%;
				}

				p {
					color: $cBlack;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
}