#consultation_button {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: calc(((100% / 2) - 20%) + 60px);
	width: 54px;

	img {
		width: 100%;
	}
}

#consultation_button:hover {
	right: 5px
}

#consultation_form {
	bottom: 0;
	position: fixed;
	z-index: $z-modal;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .75);

	.wrapper {
		left: 50%;
		max-height: calc(100% - 20px);
		max-width: calc(100% - 20px);
		margin: auto;
		overflow: auto;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);

		.content {
			background-color: rgba(255, 255, 255, 1);
			border-radius: 10px;
			padding: 10px 20px;
			position: relative;

			h2 {
				flex-basis: auto;
				flex-grow: 0;
				flex-shrink: 0;
				color: $cBlue;
				padding: 5px 0px;
			}

			span {
				font-size: 16px;
				font-weight: bold;
			}

			.form {
				padding: 20px;

				.fields {
					flex-basis: 0;
					flex-grow: 1;
					flex-shrink: 1;
					overflow: auto;

					div {
						margin-bottom: 15px;
					}
				}

				.buttons {
					margin: 0 0 0 0;
					text-align: right;

					flex-basis: auto;
					flex-grow: 0;
					flex-shrink: 0;

					button {
						background-color: #acacac;
						border: none;
						border-radius: 8px;
						color: #000000;
						font-size: 14px;
						font-weight: 600;
						height: 45px;
						margin: 10px 0 0 5px;
						padding: 0 30px;
					}

					button[type="submit"] {
						background-color: #03A16A;
						color: #ffffff;
					}
				}
			}

			.upload_drop {
				display: block;
				margin-right: 20px;
				width: 260px;

				.upload_photo {
					border: 1px solid $cBlack;
					background-attachment: scroll;
					background-color: $cWhite;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
					height: 260px;
					width: 260px;
					padding: 40px;
					position: relative;
					text-align: center;

					i.close {
						background: $cWhite;
						color: $cError;
						font-size: 2rem;
						padding-left: 1px;
						position: absolute;
						border-radius: 15px;
						right: 10px;
						top: 10px;
					}

					i.mime {
						font-size: 10rem;
					}
				}
			}

			.upload_text {
				border: 1px solid $cBlack;
				height: 260px;
				line-height: 220px;
				width: 260px;
				padding: 20px;
				text-align: center;

				p {
					display: inline-block;
					font-size: 1.5rem;
					line-height: 1.5;
					vertical-align: middle;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	#consultation_button {
		display: none;
	}

	.share-consultation {

		#consultation_button {
			display: block;
			background-color: #03A16A;
			left: 10px;
			top: 10px;
			width: 45%;
			padding: 12px 0px;
			text-align: center;
			border-radius: 6px;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 500;

			img {
				display: none
			}
		}

		#consultation_button:before {
			content: "Request for Consultation";
			text-align: center;
			color: $cWhite;
		}

		#consultation_button:hover {
			right: 10px
		}
	}
}
