#contact {

	h1 {
		color: $cWhite;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 20px;
		background-image: url("https://orthoinfo.s3.us-east-1.amazonaws.com/www/header_background.png");
		background-position: center;
		height: 62px;
	}

	.contact-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.contact-form {
			box-shadow: #00000012 0px 0px 10px 2px;
			margin-bottom: 30px;
			width: 80%;
			padding: 50px 50px 0 50px;
			border-radius: 8px;
			min-height: 550px;
			background: $cWhite;


			.form-title {
				text-align: center;

				h3 {
					font-weight: 700;
					font-size: 28px;
					color: $cBlue;
					margin: 10px 0px 25px 0px;
				}

				p {
					color: $cBlack;
					font-size: 16px;
					margin-bottom: 25px;
					line-height: 24px;
				}
			}

			form {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 25px;
				padding: 20px;

				input,
				textarea {
					box-shadow: #00000012 1px 0px 12px 5px;
					outline: none;
					padding: 6px 12px;
					font-size: 16px;
					line-height: 1.5;
					color: #495057;
					background-color: $cWhite;
					background-clip: padding-box;
					border: 1px solid #ced4da;
					border-radius: 0.25rem;
					transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
				}

				input {
					flex-basis: 45%;
					max-width: 45%;
					height: 45px;
				}

				textarea {
					width: 100%;
					height: 120px;
					resize: none;
					overflow: auto;
				}

				button {
					background: #03A16A;
					cursor: pointer;
					margin: 36px auto;
					border-radius: 8px;
					font-weight: 400;
					padding: 0 30px;
					border: none;
					font-size: 14px;
					font-weight: 600;
					padding: 20px;
					text-transform: uppercase;
				}
			}
		}
	}
}


@media only screen and (max-width: 768px) {
	#contact {
		h1 {
			height: 42px;
		}
		.contact-container {
			.contact-form {
				form {
					input {
						flex-basis: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}