#home {
    background-image: url("https://orthoinfo.s3.us-east-1.amazonaws.com/www/body.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 10px;
}

.shape-container {
    width: 100%;
    max-width: 42%;
    height: 100%;
    position: relative;
}

.red-shape {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff000030;
    position: absolute;
    cursor: pointer;
    pointer-events: all;
	border-width: 0px;
    border-style: none;
    border-color: #ffffffcf;
    transform: scale(1);
}

.red-shape:before {
    content: "";
    position: absolute;
    top: -6px;
    width: 50px;
    height: 50px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    left: -6px;
}

.red-shape-glow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 15px #ff000037;
    border-radius: 50% 50%;
    animation: ShapeGlowAnimation linear 1.5s;
    animation-iteration-count: infinite;
}

@keyframes ShapeGlowAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#oval-head {
    left: 64%;
    top: 2%;
}

#oval-neck {
    left: 56%;
    top: 13%;
}

#oval-shoulder {
	left: 46%;
	top: 15%;
}

#oval-back {
	left: 41%;
	top: 32%;
}

#oval-hips {
	left: 36%;
	top: 45%;
}

#oval-arm {
	left: 26%;
	top: 29%;
}

#oval-hand {
	left: 23%;
	top: 42%;
}

#oval-knee {
	left: 69%;
	top: 61%;
}

#oval-leg {
	left: 22%;
	top: 69%;
}

#oval-foot {
	left: 17%;
	top: 83%;
}

.red-shape:hover .red-shape-glow  {
    opacity: 0.5;
}

.red-shape:hover .blue-tooltip {
    display: inline-block;
	right: 58px;
}

.blue-tooltip {
	display: none;
	position: absolute;
	top: 6px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 8px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $cBlue;
    border-style: none;
	border-radius: 5px;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid $cBlue;
	position: absolute;
	right: -6px;
	top: 8px;
  }



// mobile style

@media only screen and (max-width: 768px) {
    .red-shape {
        width: 25px;
        height: 25px;
    }

    .red-shape:before {
        width: 30px;
        height: 30px;
        top: -4px;
        left: -4px;
    }

    #oval-head {
        left: 73%;
        top: 5%;
    }

	#oval-neck {
		left: 59%;
		top: 14%;
	}

	#oval-shoulder {
		left: 48%;
		top: 17%;
	}

	#oval-back {
		left: 39%;
		top: 32%;
	}

	#oval-hips {
		left: 31%;
		top: 47%;
	}

	#oval-arm {
		left: 18%;
		top: 30%;
	}

	#oval-hand {
		left: 13%;
		top: 42%;
	}

	#oval-knee {
		left: 78%;
		top: 61%;
	}

	#oval-leg {
		left: 12%;
		top: 69%;
	}

	#oval-foot {
		left: 4%;
		top: 83%;
	}

    .shape-container {
        max-width: 320px;
    }

	.blue-tooltip {
		top: -2px
	}

	.red-shape:hover .blue-tooltip {
		display: inline-block;
		right: 40px;
	}
}

