#myAccount {
	.section {
		border-bottom: 1px solid #cecece;
		margin-bottom: 10px;
		padding: 10px 0;

		.title {
			font-size: 24px;
			color: $cBlue;
		}
	}

	.section:last-child {
		border: 0;
	}
}