#testing {
	bottom: 0;
	color: $cWarning;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
	font-weight: bold;
	z-index: $z-testing;

	button {
		border-radius: 10px;
		bottom: 5px;
		height: 20px;
		padding: 0;
		position: absolute;
		text-align: center;
		width: 20px;
		right: 5px;
	}

	span.link {
		color: $cWhite;
	}
}

#testing.closed {
	background-color: transparent;
}

#testing.open {
	background-color: #00000090;
}